<h1>My People</h1>
<p>Click on a Person to see current Goals.</p>

<ul>
  <% @people.each do |person| %>
    <li class=person_<%= person.id %>>
      <%= link_to person.name, person_path(person) %>
      <%= person.group.title %>
      <%= link_to "Edit Person", edit_group_person_path(person.group, person) %>
    </li>
  <% end %>
</ul>
