<h2>Add a New Person</h2>
<p> Fill out the form below to add a new Person!</p>
<p> Your Person must start with a Name and a Group. You can add important dates later if you're not sure right now.</p>

<%= render partial: "form" %>
