<h1><%= @person.name %></h1>

<ul>
  <li><%= "Group: #{@person.group.title}" %></li>
  <% if @person.birthday %>
    <li><%= "Birthday: #{@person.birthday.strftime('%m/%d/%Y')}" %></li>
  <% end %>
</ul>

<p><%= link_to "<< Back to My People", people_path %>
