<div class="title">
  <h2>Welcome to Friendly, <%=current_user.username%></h2>
</div>

<h4>Friendly Quote of the Day</h4>
<h6>"If you want to go fast, go alone.</h6>
<h6>If you want to go far, go together."</h6>
<p>African proverb</p>
