<div class="title">
  <h1>You're so Friendly</h1>
</div>
<h3>Let me count the ways...</h3>

<ul>

  <li><h4>Percent of Social Time by Group</h4></li>
  <a href="#" class="navbar-left"><img src="/images/pie_chart.png"></a><br/>
  <li><h4>Most Active Goals this Month</h4></li>
  <li><h4>Reconnection Award!</h4></li>
  <li><h4>Steady Buddy Award!</h4></li>

</ul>
