@import "bootstrap";
@import "goals";

body {
  background-color: #F5A65B
}

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
}

.navbar {
  margin-bottom: 30px;
  background-color: #FDF6EA
}

.navbar-left {
  padding-right: 1.5rem;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  font-family: 'Monoton', cursive;
}
